<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <th><h1> Display Topic_name </h1></th>
        <table border="3px">
            <tr><th>Topic_name</th></tr>
            {% for to in QSTO %}
            <tr>
                <td>{{ to.Topic_name }}</td>
            </tr>
            {% endfor %}
    </center>
        </table>
   
</body>
</html>